.composition__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include screen-lg-xl {
        padding-top: 137px;
    }


    @include screen-xs-lg {
        flex-wrap: wrap;
    }


    @include screen-md {
        padding-top: 67px;
    }


    @include screen-xs {
        padding-top: 37px;
    }
}

.composition__header {
    flex-basis: 100%;
}

.composition__title {
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
    color: $color-title;
    max-width: 498px;
    padding: 56px 0;
    text-align: center;
    margin: auto;

    & span {
        letter-spacing: 3px;
        color: $color-title-blue;
    }

    @include screen-xs-sm {
        padding: 20px 0 30px;
        font-size: 30px;
    }


    @include screen-sm-md {
        font-size: 44px;
        max-width: 100%;
    }


    @include screen-md-lg {
        font-size: 46px;
        max-width: 100%;
    }


    @include screen-lg-xl {
        max-width: 80%;
    }


    @include screen-xl {
        text-align: start;
        margin: 0;
    }
}

.composition__img {
    display: none;
    padding-bottom: 15px;

    @include screen-xl {
        display: block;
    }


    @include screen-lg-xl {
        display: none;
    }
}
