/* Large Devices, Wide Screens */
$screen-xl: 1200px;

/* Medium Devices, Desktops */
$screen-lg: 992px;

/* Small Devices, Tablets */
$screen-md: 768px;

/* Extra Small Devices, Phones */
$screen-sm: 480px;

/* Custom, iPhone Retina */
$screen-xs: 320px;

@mixin screen-xl {
    @media (min-width: $screen-xl) {
        @content;
    }
}

@mixin screen-lg {
    @media (min-width: $screen-lg) {
        @content;
    }
}

@mixin screen-md {
    @media (min-width: $screen-md) {
        @content;
    }
}

@mixin screen-sm {
    @media (min-width: $screen-sm) {
        @content;
    }
}

@mixin screen-xs {
    @media (max-width: $mobile-xs) {
        @content;
    }
}
