// Основной в заголовке
$color-title: #2e2c35;

// Основной в под-заголовке
$color-title: #4b69b0;

// В заголовках
$color-title-red: #f56856;

// Основоной текст в обзацах
$color-text: #7e7c89;

// Основоной текст в обзацах
$color-title-form: #5774b8;

// Основной текст в кнопке
$color-btn-text: #fff;
