.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    /* по-умолчанию для <button>, но пригодится для <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* невидимая граница (понадобится для цвета при наведении/фокусе) */
    border: solid 1px transparent;

    /* размер строится из текста и отступов (без width/height) */
    padding: 0.5em 1em;
}
