// Основной в заголовке
$color-title: #2e2c35;
$color-title-gray: #3b3944;
$color-title-blue: #5774b8;
$color-title-red: #f56856;

// Основной в под-заголовке
$color-subtitle: #4b69b0;

// Основоной текст в обзацах
$color-text: #7e7c89;

// Основоной текст into
$color-gray-into: #3b3944;

// feedback
$color-feedback-bg: #fff;

$color-feedback-discount: #737e96;
$color-feedback-cost-title: #30302f;
$color-feedback-cost-subtitle: #36bde3;

// feedback-form
$color-form-btn-text: #fff;

// Основной в заголовке discount
$color-discount-title-gray: #3b3944;

// Composition__type под блоком :after-block
$color-bottom-line: #e0e9ee;
