@import "config/_breakpoints";
@import "config/_colors";
@import "config/mixins/btn";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: Roboto sans-serif;
    font-size: 1rem;
    margin: 0;
    background-color: 'Roboto', sans-serif;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; // 15px
}

/*Blocks*/

@import "blocks/_header/header";
@import "blocks/_header-nav/header-nav";

@import "blocks/_intro/intro";
@import "blocks/_intro-form/";

@import "blocks/_symptoms/symptoms";

@import "blocks/_discount/discount";

@import "blocks/_composition/composition";

/*/blocks*/

@import "helper";
